/* add your CSS here */

.show-pic {
    width: 300px;
    height: 200px;
}

div.description-article div.description {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
}

div.description-article div.description p{
    font-style: italic;
}

div.description-article div.description ul.description-items{
    list-style: none;
    padding-left: 0;
}


div.description-article div.description ul.description-items span {
    font-weight: bolder;
}

div.description-article {
    width: 300px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
}